.jumbotron
{
    padding-top: 0px;
    padding-bottom:0px;
    background-size: cover;
    background-color: #ccbb99 !important;
    width: 100%; /* make sure to define width to fill container */
    height: 150px; /* define the height in pixels or make sure   */
    /* you have something in your div with height */
    /* so you can see your image */
    max-width:1400px;  /* define the max width */
}

.dropdown-menu li a:hover {
    background-color: #dd796b
}


.thick
{
    font-weight: bold;
}

body {
    padding-top: 10px;
}
